<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <form (submit)="entrar()" #myLoginForm="ngForm">
    <ion-grid style="padding: 0;">
      <ion-row>
        <ion-col style="text-align: center;">
          <img class="logo" src="assets/imgs/logo.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item>
                    <ion-label color="dark"><ion-icon name="person"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="objLogin.username" name="username" id="username" required="required" placeholder="Username" type="email"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="dark"><ion-icon name="lock"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="objLogin.password" name="password" id="password" required="required" placeholder="Password" type="password"></ion-input>
                  </ion-item>
                  <ion-item><span (click)="recuperarSenha()">Recuperar Senha</span></ion-item>
                </ion-list>
                <button ion-button full class="entrar">Entrar</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
