page-login {
    ion-content {
        background-image: url('../assets/imgs/login-fundo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    ion-grid {
        ion-row:first-child {
            margin-top: 75px !important;
        }
        ion-col {
            position: initial !important;
        }
    }
    img.logo {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
        height: 190px;
        opacity: 0.90;
    }
    ion-label {
        margin: unset !important;
    }
    ion-list > .item-block:first-child {
        border-top: unset !important;
    }
    ion-list {
        margin-bottom: 0 !important;
    }
    ion-icon {
        font-size: 1.5em !important;
    }
    ion-item {
        background-color: rgba(255,255,255,0.75) !important;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5) !important;
        margin-bottom: 20px !important;
    }
    ion-item:nth-child(2) {
        margin-bottom: unset !important;
    }
    ion-item:last-child {
        text-align: right !important;
        background-color: unset !important;
        box-shadow: unset !important;
        border: unset !important;
    }
    ion-item {
        span {
            background-color: rgba(255,255,255,0.75) !important;
            padding: 5px !important;
            color: rgba(0,0,0,0.75) !important;
        }
    }
    ion-item .item-inner {
        padding-right: unset !important;
    }
    ion-input .text-input {
        height: 35px !important;
    }
    ion-input .text-input::placeholder {
        color: rgba(0,0,0,0.5) !important;
    }
    button.entrar {
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5) !important;
        height: 60px !important;
        transition: all 500ms;
        opacity: 0.9 !important;
    }
    button.entrar[disabled] {
        opacity: 0.9 !important;
        background-color: rgba(0, 118, 161, 1) !important;
    }

}