<ion-content>
    <div id="container">
        <div id="content">
            <h1>Ops...</h1>
            Identificamos que existe uma nova atualização para o seu aplicativo, para continuar o acesso as funcionalidades é necessário manter o aplicativo sempre atualizado, atualize agora mesmo, é rápido e totalmente seguro!
        </div>
        <button (click)="openWithInAppBrowser()" id="footer">Atualizar Agora</button>
    </div>
</ion-content>