page-update-modal {
    ion-content {
        background-color: #333333 !important;
        #container {
            position: absolute !important;
            width: 80% !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate3d(-50%, -50%, 0) !important;
            #content {
                text-align: justify !important;
                background-color: white !important;
                font-size: 1.5rem !important;
                color: #222222 !important;
                padding: 1px 30px 30px 30px !important;
                width: 100% !important;
                h1 {
                    text-align: center;
                    font-size: 3rem !important;
                }
            }
            #footer {
                text-align: center !important;
                padding: 30px !important;
                background-color: #00AFF0 !important;
                font-size: 1.5rem !important;
                color: white !important;
                width: 100% !important;
            }
        }
        iframe {
            border: none !important;
        }
    }
}
